
<%-include('../Header.ejs')%>
<div class="container mt-1 mb-3">
    <div class="row">
        <div class="col-md-12"></div>
        <%-include('./components/adminsidebar.ejs')%>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5 doubleBg rounded mt-3">
            <center>
                <h2 class="text-white mt-3">Total Categories</h2>
                <h5 class="text-white mb-3">50</h5>
                <hr class="text-white">
                <a href="/admin/categoryDisplay" class="text-white text-decoration-none">More Info <i class="fa-solid fa-arrow-right mb-3"></i></a>
            </center>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 doubleBg rounded mt-3">
            <center>
                <h2 class="text-white mt-3">Total Blogs</h2>
                <h5 class="text-white mb-3">50</h5>
                <hr class="text-white">
                <a href="/admin/blogDisplay" class="text-white text-decoration-none">More Info <i class="fa-solid fa-arrow-right mb-3"></i></a>
            </center>
        </div>
      </div>  
    </div>
</div>
<%-include('../Footer.ejs')%>